# IDEs and system stuff
.DS_STORE
.idea
.vscode
.history
.env
__pycache__

# js stuff
node_modules

# aider
.aider.chat.history.md
.aider.input.history
.aider.tags.cache.v4/*
.aider.conf.yml

# Gemini
.gemini

# MCP servers
.serena

# Claude
.claude/data

# logs
logs

# mcp server configs
.mcp.*
.mcp_configs